div {
  margin: 30px;
}

button {
  margin: 20px;
  border: none;
  border-radius: 12px;
  background: #369;
  color: #fff;
  height: 40px;
  width: 10%;
  cursor: pointer;
}

button:hover {
  background: rgb(78, 130, 182);
}

.message-list {
  font-weight: bold;
}

@media (max-width: 700px) {
  button {
    width: 30%;
  }
}

@media (min-width: 700px) and (max-width: 900px) {
  button {
    width: 25%;
  }
}

@media (min-width: 900px) and (max-width: 1100px) {
  button {
    width: 20%;
  }
}

@media (min-width: 1100px) and (max-width: 1300px) {
  button {
    width: 15%;
  }
}
