input {
  margin-left: 40px;
  width: 19%;
  height: 25px;
}
ul li {
  list-style: none;
  font-weight: bold;
  background: #eeeeee;
  margin: 5px 0px;
  height: 40px;
  width: 20%;
  text-align: center;
  cursor: pointer;
}

ul li:hover {
  background: #369;
}

ul li:hover a {
  color: #fff;
}

a {
  position: relative;
  top: 10px;
  text-decoration: none;
  color: #00b0f0;
}

@media (max-width: 600px) {
  input {
    width: 44%;
  }

  ul li {
    width: 50%;
  }
}

@media (min-width: 600px) and (max-width: 800px) {
  input {
    width: 37%;
  }

  ul li {
    width: 40%;
  }
}

@media (min-width: 800px) and (max-width: 1200px) {
  input {
    width: 23%;
  }

  ul li {
    width: 25%;
  }
}
